{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main content area on the homepage }}
<main role="main">
  {{! The tag below includes the post loop - partials/loop.hbs }}
  <div class="header">
    <h1>header</h1>
    {{> "navbar"}}
  </div>
  <div class="intro">
    <h2>intro</h2>
  </div>
  <div class="post-gallery">
    <h2>nuestros emprendimientos</h2>
  </div>
  <div class="post-gallery">
    <h2>nuestros aliados</h2>
  </div>
  <div class="contact-form">
    <h2>contactos</h2>
  </div>
  <div class="footer">
    <h2>footer</h2>
  </div>
</main>
