{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main content area on the homepage }}

<div class="intro col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1 col-md-offset-2 col-md-8">
  {{#get "posts" filter="slug:intro-post" as |item|}}
    {{> "common-gallery-post" item=item}}
  {{/get}}
  <a href="#" class="btn btn-primary">Postula</a>
</div>
<div class="post-gallery col-xs-8 col-xs-offset-2">
  {{#get "posts" filter="slug:emprendimientos-carousel" as |item|}}
    {{> "common-gallery-post" item=item}}
  {{/get}}
  <div class="responsive-carousel">
    <div class="item">
      <img src="http://placehold.it/300x160?text=img-1" alt="" />
    </div>
    <div class="item">
      <img src="http://placehold.it/300x160?text=img-2" alt="" />
    </div>
    <div class="item">
      <img src="http://placehold.it/300x160?text=img-3" alt="" />
    </div>
    <div class="item">
      <img src="http://placehold.it/300x160?text=img-4" alt="" />
    </div>
    <div class="item">
      <img src="http://placehold.it/300x160?text=img-5" alt="" />
    </div>
    <div class="item">
      <img src="http://placehold.it/300x160?text=img-6" alt="" />
    </div>
  </div>
</div>
<div class="post-gallery common-gallery-post">
  <h2>nuestros</h2>
  <h3>aliados</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
  <div class="responsive-carousel">
    <div class="item">
      <img src="http://placehold.it/300x160?text=img-7" alt="" />
    </div>
    <div class="item">
      <img src="http://placehold.it/300x160?text=img-8" alt="" />
    </div>
    <div class="item">
      <img src="http://placehold.it/300x160?text=img-9" alt="" />
    </div>
    <div class="item">
      <img src="http://placehold.it/300x160?text=img-10" alt="" />
    </div>
    <div class="item">
      <img src="http://placehold.it/300x160?text=img-11" alt="" />
    </div>
    <div class="item">
      <img src="http://placehold.it/300x160?text=img-12" alt="" />
    </div>
  </div>
</div>
