{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main content area on the homepage }}
<main role="main">
  {{! The tag below includes the post loop - partials/loop.hbs }}
  <div class="header">
    {{> "navbar"}}
    {{> "carousel"}}
  </div>
  <div class="intro common-gallery-post col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1 col-md-offset-2 col-md-8">
    <h2>Emprende</h2>
    <h3>con nosotros</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <a href="#" class="btn btn-primary">Postula</a>
  </div>
  <div class="post-gallery common-gallery-post">
    <h2>nuestros</h2>
    <h3>emprendimientos</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    <div class="responsive-carousel">
      <div class="item">
        <img src="http://placehold.it/300x160?text=img-1" alt="" />
      </div>
      <div class="item">
        <img src="http://placehold.it/300x160?text=img-2" alt="" />
      </div>
      <div class="item">
        <img src="http://placehold.it/300x160?text=img-3" alt="" />
      </div>
      <div class="item">
        <img src="http://placehold.it/300x160?text=img-4" alt="" />
      </div>
      <div class="item">
        <img src="http://placehold.it/300x160?text=img-5" alt="" />
      </div>
      <div class="item">
        <img src="http://placehold.it/300x160?text=img-6" alt="" />
      </div>
    </div>
  </div>
  <div class="post-gallery common-gallery-post">
    <h2>nuestros</h2>
    <h3>aliados</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    <div class="responsive-carousel">
      <div class="item">
        <img src="http://placehold.it/300x160?text=img-7" alt="" />
      </div>
      <div class="item">
        <img src="http://placehold.it/300x160?text=img-8" alt="" />
      </div>
      <div class="item">
        <img src="http://placehold.it/300x160?text=img-9" alt="" />
      </div>
      <div class="item">
        <img src="http://placehold.it/300x160?text=img-10" alt="" />
      </div>
      <div class="item">
        <img src="http://placehold.it/300x160?text=img-11" alt="" />
      </div>
      <div class="item">
        <img src="http://placehold.it/300x160?text=img-12" alt="" />
      </div>
    </div>
  </div>
  <!-- TODO do we REALLY need to have a wrapper for the columns? 2 divs? -->
  <div class="contact-form">
    <div class="col-sm-offset-2 col-sm-8">
      <h2>Contactos</h2>
      <p class="text-left">Centro de Emprendimiento prendho<br>
      Universidad Técnica Particular de Loja<br>
      Cdla. San Cayetano s/n (UTPL)
      </p>
      <p class="text-left">Telf. (593-7) 258 86 68</p>
      <p class="text-left">Deja un comentario</p>
      <form>
        <textarea name="mensaje" placeholder="mensaje" class="form-control" required></textarea>
        <input type="text" name="nombre" placeholder="nombre" class="form-control" required>
        <input type="email" name="email" placeholder="e-mail" class="form-control" required>
        <div class="text-right">
          <input type="submit" value="enviar" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
  <!-- TODO do we REALLY need to have a wrapper for the columns? 2 divs? -->
  <div class="footer">
    <div class="col-sm-12">
      {{navigation}}
    </div>
  </div>
</main>
