{{!< default}}
<section>
  <div class="consultingSection">
    <div class="container">
      <div class="row align-center">
        <div class="col-xs-8 col-sm-10 col-md-8">
          {{> "common-gallery-post" item=post}}
          <a href="#" class="btn btn-lg btn-primary intro-cta-btn">conoce más</a>
        </div>
      </div>
    </div>
  </div>

  <div class="processSection">
    <div class="container">
      <div class="row align-center">
        <div class="processSection-content">
          <div class="row align-center">
            <div class="col-xs-12 col-sm-10 col-md-8">
              {{#get "posts" filter="slug:asesoria-procesos-incubacion" as |item|}}
                {{> "common-gallery-post" item=item}}
              {{/get}}
            </div>
          </div>
          <div class="row processSection-content-features">
            {{#get "posts" filter="tag:asesoria-procesos-incubacion" order="published_at asc"}}
              {{#foreach posts}}
                <div class="step align-middle align-center">
                  <img class="step-image" src="{{image}}">
                  <p>{{title}}</p>
                  {{^if @last}}
                    <img class="step-arrow" src="{{asset "static/flechas_proces.png"}}">
                  {{/if}}
                </div>
              {{/foreach}}
            {{/get}}
          </div>
          <div class="row">
            <a href="#" class="btn btn-lg btn-primary inverted">Infórmate</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-center">
      <div class="post-gallery col-xs-8 col-sm-10 col-md-11 col-lg-12">
        {{#get "posts" filter="slug:laboratorios-carrusel" as |item|}}
          {{> "common-gallery-post" item=item}}
        {{/get}}
        <div class="responsive-carousel">
          {{#get "posts" filter="tag:laboratorios-carrusel" as |items|}}
            {{> "carousel-items" items=items}}
          {{/get}}
        </div>
      </div>
    </div>
  </div>
</section>
