{{!< default}}
<div class="contact">
  <div class="contact-container align-middle">
    <div class="contact-header col-xs-12 col-sm-10 col-md-8">
      {{#post}}
      <div class="common-gallery-post">
        <h2 class="contact-header-title">{{title}}</h2>
        {{content}}
      </div>
      {{/post}}
    </div>

    <div class="section-blue align-center">
      <div class="col-xs-12 col-sm-10 col-md-8">
        {{#get "posts" filter="slug:mejor-incubadora" as |item|}}
          <div class="section-blue-container align-middle align-justify">
            {{#item}}
            <div class="images">
              <img class="images-logo" src="{{image}}">
              <img class="images-arrow" src="{{asset "static/flechas_proces.png"}}">
            </div>
            <div class="content text-left">
              {{> "contact-blue-section" item=item}}
              <a href="#" class="btn btn-lg btn-primary intro-cta-btn">conoce más</a>
            </div>
            {{/item}}
          </div>
        {{/get}}
      </div>
      {{> "curveDownSVG"}}
    </div>

    <div class="col-xs-8 col-sm-10 col-md-8">
      <div class="post-gallery">
        {{#get "posts" filter="slug:equipo-trabajo-carrusel" as |item|}}
          {{> "common-gallery-post" item=item}}
        {{/get}}
        <div class="responsive-carousel col-xs-12 col-sm-12">
          {{#get "posts" filter="tag:equipo-trabajo-carrusel" order="published_at asc" as |items|}}
            {{> "carousel-team-items" items=items}}
          {{/get}}
        </div>
      </div>
    </div>

    <div class="col-xs-8 col-sm-10 col-md-8">
      {{#get "posts" filter="slug:mentores" as |item|}}
        {{> "common-gallery-post" item=item}}
        <a href="#" class="btn btn-lg btn-primary intro-cta-btn">conoce más</a>
      {{/get}}
    </div>

  </div>
</div>
