{{!< default}}
<div class="resources container">
  <div class="row">
    <div class="align-center">
      <div class="col-xs-12 col-sm-10 col-md-8">
        {{> "common-gallery-post" item=post}}
      </div>
      <div class="col-xs-12 col-sm-10 col-md-8">
        {{#get "posts" filter="tag:recursos" order="published_at asc" as |item|}}
          {{#foreach item}}
            <fieldset>
              <div class="table-header text-left">
                <h4 class="table-header-title">{{title}}</h4>
              </div>
              <div>{{content}}</div>
            </fieldset>
          {{/foreach}}
        {{/get}}
      </div>
    </div>
  </div>
</div>
