{{!< default}}
<div class="container-fluid">
  <div class="row coworking-intro">
    <div class="col-xs-offset-2 col-xs-8 col-sm-10 col-sm-offset-1 col-md-offset-2 col-md-8">
      {{> "common-gallery-post" item=post}}
    </div>
  </div>

  <div class="coworking-blue-wrapper row">
    <div class="coworking-servicios-wrapper col-xs-offset-2 col-xs-8 col-sm-offset-1 col-sm-6 col-md-offset-2 col-md-5">
      {{#get "posts" filter="slug:coworking-servicios" as |item|}}
        {{> "coworking-post" item=item}}
      {{/get}}
    </div>
    <div class="coworking-beneficios-wrapper col-xs-offset-2 col-xs-8 col-sm-4 col-md-3 col-sm-offset-0">
      {{#get "posts" filter="slug:coworking-beneficios" as |item|}}
        {{> "coworking-post" item=item}}
      {{/get}}
    </div>
    {{> "curveDownSVG"}}
  </div>

  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      {{#get "posts" filter="slug:coworking-paquetes" as |item|}}
        {{> "common-gallery-post" item=item}}
      {{/get}}
    </div>
  </div>

  <div class="container">
    <div class="responsive-carousel packages-carousel">
      {{#get "posts" filter="tag:coworking-paquetes" as |items|}}
        {{#foreach items as |item|}}
          {{> "coworking-paquete" item=item}}
        {{/foreach}}
      {{/get}}
    </div>
  </div>

  <div class="row">
    <div class="post-gallery col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1 col-md-offset-2 col-md-8">
      {{#get "posts" filter="slug:coworking-galeria-carrusel" as |item|}}
        {{> "common-gallery-post" item=item}}
      {{/get}}
      <div class="responsive-carousel">
        {{#get "posts" filter="tag:coworking-galeria-carrusel" as |items|}}
          {{> "carousel-items" items=items}}
        {{/get}}
      </div>
    </div>
  </div>
</div>
