<!-- TODO: update id if to be reused -->
<div id="header-carousel">
  <div class="items-wrapper">
    {{#get "posts" filter="tag:carousel-main" as |items|}}
      {{#foreach items}}
        <div class="item">
          <div style="background-image: url('{{image}}')" class="img-responsive"></div>
          <div class="caption">{{content}}</div>
        </div>
      {{/foreach}}
    {{/get}}
  </div>
  <div class="carousel-controls"></div>
  <div class="header-carousel-mask"></div>
</div>
