{{#foreach items}}
  <div class="item">
    <a href="{{url}}">
      <div class="img-responsive" style="background-image: url('{{image}}');">
        <div class="item-title"><h4>{{title}}</h4></div>
      </div>
    </a>
  </div>
{{/foreach}}
