<fieldset class="blog-sidebar-fieldset text-left">
  <h3 class="heading">Categorías</h3>
  <ul class="categoriesList">
    <li class="categoriesList-item" target="_blank">
      <a class="categoriesList-link" href="/tag/blog/" class="text-uppercase">All</a>
    </li>
    {{#get "posts" order="asc" filter="tag:blog-category" as |item|}}
      {{#foreach item}}
        <li class="categoriesList-item">
          <a class="categoriesList-link" href="/tag/{{slug}}/" class="text-uppercase">{{title}}</a>
        </li>
      {{/foreach}}
    {{/get}}
  </ul>
</fieldset>
