<fieldset class="border">
  <legend class="border"><h3>Categorías</h3></legend>
  <ul class="text-left">
    <li type="circle" target="_blank"><a href="#">ALL</a></li>
    <li type="circle" target="_blank"><a href="#">TECNOLOGÍA</a></li>
    <li type="circle" target="_blank"><a href="#">ALIMENTOS</a></li>
    <li type="circle" target="_blank"><a href="#">ACTIVIDADES</a></li>
    <li type="circle" target="_blank"><a href="#">CURSOS</a></li>
    <li type="circle" target="_blank"><a href="#">COWORKING</a></li>
  </ul>
</fieldset>
