{{#get "posts" filter="slug:contactos" as |post|}}
  {{#post}}
    <div class="footer-form-wrapper"
         style="background-image: url('{{image}}');">
      <div class="footer-form-wrapper--border-mask footer-form-wrapper--top-border-mask"></div>
      <div class="footer-form-wrapper--mask row">
        <div class="footer-contact-form col-xs-8 col-xs-offset-2 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
          <div class="col-xs-12">
            <h2>{{title}}</h2>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="text-left contact-content">{{content}}</div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <form action="https://mrthomas.herokuapp.com/api/v1/notification" method="POST" role="form">
              
              <div class="hidden">
                <img src="https://mrthomas.herokuapp.com/keepalive" />
                <script src="https://mrthomas.herokuapp.com/api/v1/recaptcha.js" async defer></script>
              </div>
              <input type="hidden" name="token" value="dca5365b5b130245aa31184c7814321d4a709a6d50ca387b6bafe87f09905920">

              <p class="text-left">Deja un comentario</p>
              <textarea id="mensajeTextarea" name="mensaje" placeholder="mensaje" class="form-control" required></textarea>
              <input type="text" id="nameInput" name="nombre" placeholder="nombre" class="form-control" required>
              <input type="email" id="emailInput" name="email" placeholder="e-mail" class="form-control" required>
              <div class="g-recaptcha"></div>
              <div class="help-block with-errors"></div>
              <div class="text-right">
                <input type="submit" value="enviar" class="btn btn-inverse">
              </div>
              
            </form>
          </div>
        </div>
      </div>
      <div class="footer-form-wrapper--border-mask footer-form-wrapper--bottom-border-mask"></div>
    </div>
  {{/post}}
{{/get}}
