{{#item}}
  <div class="gallery-post coworking-post">
    <div class="content">
      <div class="post-title">
        <h2>{{title}}</h2>
      </div>
      {{content}}
    </div>

    {{#if image}}
      <div class="coworking-image">
        <img src="{{image}}">
      </div>
    {{/if}}
  </div>
{{/item}}
