<div class="item">
  <h5>{{title}}</h5>
  <fieldset>
    <legend>
      <img src="{{asset "static/icono_paquete_villonaco.png"}}">
    </legend>
    <h2>{{meta_title}}</h2>
    <div class="text-justify">{{content}}</div>
  </fieldset>
</div>
