<fieldset class="scheduler-border">
  <legend class="scheduler-border prueba"><h3>Recent Post</h3></legend>
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="{{asset "static/icono_face.png"}}" width="100%">
      </a>
    </div>
    <div class="col-xs-6 col-md-9 text-justify">
      <a href="#">Lorem Ipsum is simply dummy text</a>
      <p class="text-justify">Es una forma de trabajo que permite a emprendedores 
        compartir un mismo espacio de trabajo para desarrollar sus proyectos profesionales 
        de manera independiente, a la vez que fomentan proyectos conjuntos.
      </p>
    </div>
  </div>
</fieldset>
