<div>
  <img src="{{asset "static/icon_fb_comp.png"}}">
  <img src="{{asset "static/icon_twitter_blog.png"}}">
  <img src="{{asset "static/icon_gplus_blog.png"}}">
  <img src="{{asset "static/icon_rss_blog.png"}}">
</div>
